body{
  margin-left:400px;
}
#main{
  display: none;
}
.formulaTable table{
  /* border: 1px solid black; */
  margin-left:50px;
  width:350px;
  height:50px;
}
.formulaTable td{
  /* border: 1px solid black; */
  width:5%;
  height:50px;
  text-align:center;
}
.NumberTable table {
  /* border:1px solid black;  */
  width:500px;
  height:300px;  
  text-align: center;
}
.NumberTable table td{
   /* border:1px solid black;  */
  width:83.5px;
  height:60px;
  color:rgb(59, 59, 187);
}
.NumberTable{
  margin-top:50px;
}

#main-menu{
  position:fixed;
  height: 350px;
  width:300px;
  border:1px solid black;
  background-color:#ffff;
  margin-top:100px;
  margin-left:100px;
}
#main-menu table{
  margin-top:50px;
}
#main-menu td{
  border: 1px solid black;
  width:300px;
  height:50px;
  text-align: center;
  font-weight:bold;
  font-family: 'Luxurious Roman', cursive;
  /* font-size: ; */
}

#main-menu td:hover {
 cursor:pointer;
 background-color: rgba(206, 200, 200, 0.507);
}
#main-menu h1{
  font-family: 'Luxurious Roman', cursive;
  margin-left: 50px;
  /* font-size:; */
}
#lost-popupBox, #won-popupBox{
  display: none;
  position:absolute;
  margin: auto;
  margin-top: 100px;
  margin-left:100px;
  border: 1px solid black;
  width:300px;
  height:150px;
  background-color:#ffff;
  text-align: center;
  color: black;
  z-index: 2;
}
#lost-popupBox p{
  margin-top:30px;
}
#lost-popupBox table{
  margin: auto;
}
#won-popupBox table {
  margin:auto;
  margin-top:20px;
}
#lost-popupBox td,#won-popupBox td {
  width:100px;
}
#lost-popupBox button{
  width:100px;
  margin-top: 50px;
  background-color:rgb(80, 214, 136) ;
  border: 1px solid black;
  text-align:center;
}
#won-popupBox button{
  width:100px;
  /* margin-top: 50px; */         /*-----necessary------*/
  background-color:rgb(80, 214, 136) ;
  border: 1px solid black;
  text-align:center;
}
#lost-popupBox button:hover, #won-popupBox button:hover{
  font-weight: bold;
  background-color:rgb(79, 160, 112);
}